---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home
  namespace: adguard-home
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    sources: ["crd", "gateway-httproute"]
    controllers:
      adguard:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.72@sha256:4956b35b590286e5872fb4336d84a7862a2030c6efb4ca16442580c37d7ba32d
            env:
              TZ: Europe/Brussels
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: adguard
        ports:
          http:
            port: 80
      dns:
        controller: adguard
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.129.200
        ports:
          dns-https:
            port: 443
            protocol: TCP
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP
          tls-tcp:
            port: 853
            protocol: TCP

    route:
      app:
        hostnames: ["adguard.kharnox.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https-adguard
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      config:
        existingClaim: adguard-conf
        globalMounts:
          - path: /opt/adguardhome/conf
      work:
        existingClaim: adguard-work
        globalMounts:
          - path: /opt/adguardhome/work
