---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  dependsOn:
    - name: cilium
      namespace: kube-system
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  interval: 1m0s
  values:
    crds:
      enabled: true
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      enableCephfsDriver: false
      enableCephfsSnapshotter: false
      enableLiveness: true
      serviceMonitor:
        enabled: true
    enableDiscoveryDaemon: true
    image:
      repository: ghcr.io/rook/ceph
    monitoring:
      enabled: true
    resources:
      requests:
        memory: 128Mi # unchangable
        cpu: 100m # unchangable
      limits: {}
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  dependsOn:
    - name: rook-ceph
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.19.1
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  interval: 1m0s
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    operatorNamespace: rook-ceph
    cephClusterSpec:
      resources:
        osd:
          limits:
            memory: "2Gi"
          requests:
            cpu: "500m"
            memory: "2Gi"
        mgr:
          limits:
            memory: "1Gi"
          requests:
            cpu: "100m"
            memory: "512Mi"
        mon:
          limits:
            memory: "2Gi"
          requests:
            cpu: "200m"
            memory: "1Gi"
      cephConfig:
        global:
          osd_memory_target: "2147483648"
          bdev_enable_discard: "true"
          bdev_async_discard_threads: "1"
          osd_class_update_on_start: "false"
          device_failure_prediction_mode: local
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      dashboard:
        enabled: true
        ssl: false
    route:
      dashboard:
        host:
          name: rook.kharnox.com
          path: "/"
          pathType: PathPrefix
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https-rook
