# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-ngx
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      paperless-ngx:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          gotenburg:
            image:
              repository: thecodingmachine/gotenberg
              tag: 8.26.0@sha256:328551506b3dec3ff6381dd47e5cd72a44def97506908269e201a8fbfa1c12c0
              pullPolicy: IfNotPresent
            env:
              - { name: DISABLE_GOOGLE_CHROME, value: "1" }
          redis:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 8.6.0@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
              pullPolicy: IfNotPresent
          tika:
            image:
              repository: ghcr.io/paperless-ngx/tika
              tag: 2.9.1-full@sha256:d59c38244949a418ef16be676eeea770e1616b45986661847d373f4de048a37e
              pullPolicy: IfNotPresent
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.8@sha256:e231ec11a1907bfdf172b4f120b4ef1994feb71e6cc624e8b88c53e2da3dfb62
            env:
              USERMAP_UID: 568
              USERMAP_GID: 100
              PAPERLESS_TIME_ZONE: Europe/Brussels
              PAPERLESS_PORT: &port 80
              PAPERLESS_REDIS: redis://localhost:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              PAPERLESS_URL: https://paperless.kharnox.com
              PAPERLESS_ALLOWED_HOSTS: paperless.kharnox.com
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
              PAPERLESS_CONSUMPTION_DIR: /library/consume
              PAPERLESS_DATA_DIR: /library/data
              PAPERLESS_MEDIA_ROOT: /library/media
              PAPERLESS_EXPORT_DIR: /library/export
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_CONSUMER_IGNORE_PATTERNS: '[".DS_STORE/*", "._*", ".stfolder/*", "@eaDir/*"]'
              PAPERLESS_TRUSTED_PROXIES: 10.42.0.0/16
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
              PAPERLESS_CONSUMER_RECURSIVE: true
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBUSER:
                valueFrom:
                  secretKeyRef:
                    name: database-paperless
                    key: username
              PAPERLESS_DBPASS:
                valueFrom:
                  secretKeyRef:
                    name: database-paperless
                    key: password
              PAPERLESS_DBNAME:
                valueFrom:
                  secretKeyRef:
                    name: database-paperless
                    key: database_name
              PAPERLESS_DBHOST:
                valueFrom:
                  secretKeyRef:
                    name: database-paperless
                    key: host
              PAPERLESS_DBPORT: 5432
            resources:
              requests:
                cpu: 35m
                memory: 926Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: paperless-ngx
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["paperless.kharnox.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https-paperless
    persistence:
      config:
        enabled: true
        existingClaim: paperless-ngx
        globalMounts:
          - path: /data
      data:
        enabled: true
        existingClaim: paperless-ngx-data
        globalMounts:
          - path: /library
