---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-red
  namespace: smart-home
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          main:
            image:
              repository: nodered/node-red
              tag: 4.1.4-18-minimal@sha256:e48c389d470fa1836a49f2b003dfb812ac7c1e91833517b842b13623f4fcd35f
            env:
              TZ: Europe/Brussels
              FLOWS: "flows.json"
              NODE_RED_ENABLE_PROJECTS: "true"
              NODE_RED_ENABLE_SAFE_MODE: "false"
            resources:
              requests:
                memory: 350Mi
                cpu: 150m
              limits:
                memory: 1Gi
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: &port 1880
    route:
      app:
        hostnames: ["node-red.kharnox.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https-node-red
    persistence:
      data:
        suffix: data
        storageClass: "ceph-block"
        accessMode: ReadWriteOnce
        size: "5Gi"
        globalMounts:
          - path: /data
