---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg
  namespace: cnpg
spec:
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  chart:
    spec:
      chart: cloudnative-pg
      version: "0.27.0"
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: cnpg
        namespace: flux-system
  interval: 1m0s
